// ! Global
$main-gray: #454545;
$main-lightgray: rgb(190, 190, 190);
$main-black: #000000;
$main-white: rgb(255, 255, 255);
$main-blue: #34a3d2;
$main-darkblue: #0d3d56;
$main-lightblue: #1a6188;
$main-whiteblue: #567fad;

$popup-box: $main-gray;
$popup-box-text: rgb(230, 230, 230);

$bg: $main-black;
$shadow: rgba(0, 0, 0, 0.3);

$border-bar: rgb(10, 10, 10);

// ! Music Chart
$music-list-border-size: 4px;

$arrow-up: #898989;
$arrow-down: $main-white;
$arrow-opened-up: $main-white;
$arrow-opened-down: $main-black;

$arrow-up-rotate: 45deg;
$arrow-down-rotate: -45deg;
$arrow-up-opened-rotate: -45deg;
$arrow-down-opened-rotate: 45deg;

$mc-gray-bar: rgba(0, 0, 0, 0.3);
$mc-virtual-box-size: 360px;
$mc-toggle-delay: 0.4s;

// ! Music Player
$music-player-bg: $main-lightgray;
$music-player-icon: $main-white;
$music-player-inactive-icon: rgb(220, 220, 220, 0.7);
$music-player-text: $main-white;

// ! playlist
$playlist-width: 350px;
