// ! Global
$main-gray: #1a1a1aed;
$main-black: #000000;
$main-white: rgb(230, 230, 230);
$main-blue: #34a3d2;
$main-darkblue: #0d3d56;
$main-lightblue: #1a6188;
$main-whiteblue: #567fad;

$popup-box: $main-darkblue;
$popup-box-text: rgb(230, 230, 230);

$bg: $main-gray;
$shadow: rgba(0, 0, 0, 0.3);

// ! Music Chart
$music-list-border-size: 4px;

$arrow-up: $main-black;
$arrow-down: $main-white;
$arrow-opened-up: $main-white;
$arrow-opened-down: $main-black;

$arrow-up-rotate: 45deg;
$arrow-down-rotate: -45deg;
$arrow-up-opened-rotate: -45deg;
$arrow-down-opened-rotate: 45deg;

$mc-gray-bar: rgba(0, 0, 0, 0.3);
$mc-virtual-box-size: 360px;
$mc-toggle-delay: 0.3s;

// ! Music Player
$music-player-bg: #000000;
$music-player-icon: $main-white;
$music-player-inactive-icon: rgba(230, 230, 230, 0.5);
$music-player-text: $main-blue;

// ! playlist
$playlist-width: 350px;
