// ! Global
$main-gray: #454545;
$main-lightgray: rgb(190, 190, 190);
$main-black: #000000;
$main-white: rgb(255, 255, 255);

$popup-box: #f3f3f3;
$popup-box-text: $main-black;

$bg: #6db7d2;
$shadow: rgba(0, 0, 0, 0.3);

$light-green: #bfd8d5;
$light-blue: #b1bed5;
$light-red: #ffcece;
$light-gray: #dfdddd;

$moving-bar: $light-gray;
$border-bar: $light-blue;
$hide-btn: $light-red;

$tag: $main-lightgray;

// ! Music Chart
$music-list-border-size: 4px;

$arrow-up: $light-green;
$arrow-down: $light-green;
$arrow-opened-up: $light-red;
$arrow-opened-down: $light-red;

$arrow-up-rotate: 45deg;
$arrow-down-rotate: -45deg;
$arrow-up-opened-rotate: -45deg;
$arrow-down-opened-rotate: 45deg;

$mc-gray-bar: rgba(0, 0, 0, 0.3);
$mc-virtual-box-size: 360px;
$mc-toggle-delay: 0.4s;

// ! Music Player
$music-player-bg: $main-lightgray;
$music-player-icon: $main-white;
$music-player-inactive-repeat-icon: rgba(220, 220, 220, 0.7);
$music-player-inactive-like-icon: rgba(255, 255, 255, 0.7);
$music-player-text: $main-white;

// ! playlist
$playlist-width: 350px;
