extends ../layouts/base.pug

block content
    include ../components/music-chart
    include ../components/music-player
block scripts 
    script(src="/static/js/music-chart.js")
    script(src="/static/js/music-player.js")