extends ../layouts/base.pug

block content
    include ../components/music-player.pug

block scripts 
    //- script.
    //-     function onYouTubeIframeAPIReady() {
    //-         console.log("READY");
    //-         // initialize();
    //-     }
    script(src="/static/js/music-player.js") 
    script(src="https://www.youtube.com/iframe_api") 