header {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 14px 16px;
  font-size: 18px;
  background-color: $main-darkblue;
  color: $main-white;
  border-radius: 14px;
  z-index: 3;
  box-shadow: -6px 4px 4px 1px $shadow;
}
