header
    nav.auth-nav 
        if loggedIn
            a(href="/auth/logout").logout-btn.no-drag Logout at #{loggedInUser.displayName}
        else
            a(href="/auth/google").login-btn.no-drag Login with Google
