header
    nav.auth-nav 
        if loggedIn
            a(href="/auth/logout").logout-btn Logout at #{loggedInUser.displayName}
        else
            a(href="/auth/google").login-btn Login with Google
