include ../mixins/music
.mc-virtual-box
    .mc-main-box
        div.scroll-bar-hider
        div.mc-music-list
            if musics
                each music in musics
                    +music(music)