div.playlist-container.no-drag.fixed.first
    div.hide-btn
    div.moving-bar
    div.border-bar
    div.playlist
    div.border-bar
    span.tag #Playlist
div.playlist-fix-area
    i.fa-solid.fa-chevron-up