div.player-container
    div.player-container__music
        div#youtube-player
    div.player-container__controller
        div.music-info
            div.music-info__text
                span.music-info__text__title
                span.music-info__text__artist 
            div.music-info__like-btn
                i.fa-regular.fa-star
        div.music-progress
            input(type="range" value="0" min="0" max="1" step="any").music-progress__controller
            span.music-progress__cur-time 0:00
            span.music-progress__max-time 0:00
        div.music-controll
            div.music-controll__before-music
                i.fa-solid.fa-angles-left
            div.music-controll__toggle-play
                i.fa-solid.fa-play
            div.music-controll__after-music
                i.fa-solid.fa-angles-right
        div.music-volume
            i.fa-solid.fa-volume-off
            input(type="range" value="50" min="0" max="100" step="1").music-volume__controller
            i.fa-solid.fa-volume-high
