include ../mixins/music
.mc-virtual-box
    div.mc-arrow
        div.mc-arrow__up
        div.mc-arrow__down
    .mc-main-box
        div.scroll-bar-hider
        div.mc-music-list
            if musics
                each music in musics
                    +music(music)