div.player-container
    div.player-container__music
        div#youtube-player
    div.player-container__controller
        div.music-info
            div.music-info__text
                span.music-info__text__title
                span.music-info__text__artist 
            div.music-info__like-btn
                span ⭐️
        div.music-progress
        div.music-controll
            div.music-controll__before-music
                i.fa-solid.fa-angles-left
            div.music-controll__toggle-play
                i.fa-solid.fa-pause
            div.music-controll__after-music
                i.fa-solid.fa-angles-right
        div.music-volume
            input(type="range" id="player1-volume-bar" value="50" 
                    min="0" max="100" step="any").music-volume__controller
